:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: 0.75s;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 90%;
  padding: 5px;
  
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #8648A3; */
  background-color: #000000; 
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p { 
  font-family: 'Happy Monkey', cursive;
  color:  whitesmoke;
  font-size: 1.5rem;
  text-align: left;
}

#navbar {
  position: absolute;
  right: 12px;
  top: -10px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
}

#startShow  {
  font-size: 1.5rem;
  line-height: 1;
  position: relative;
  animation: heading;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes heading {
  0%   {left: -1000px;}
  25% { left: 300px}
  50% {left: -300px;}
  100% {left: 0px;}
}


.showlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem; 
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.image {
  width:  300px;
  height: 300px;
  object-fit: cover;
  margin: 0.5rem;
} 


@media (max-width: 992px) {
  .showlist {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 600px) {

  .title {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .showlist {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .image {
    width:  300px;
    height: 300px;
    object-fit: cover;
    margin: 0.3rem;
  } 
}


h2 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 3rem 0;
}

.logo-header {
  margin: 0 auto 0 5rem;
  width: 100%;
  text-align: left;
  
}


h1 { 
  font-family: 'Happy Monkey', cursive;
  color:  whitesmoke;
  font-size: 2.3rem;
  text-align: center;
}

.title{
  font-size:60px;
  background:#222;
  color:#00d8ff;
  width:250px;
  margin:2px auto;
  text-align:center;
}

  @keyframes rotate{

    100%{
      transform:rotate(360deg);
    }
  }

  .heading {
    display: flex;
    align-items: flex-start;
    margin: 1rem 2rem 0 1rem;
  }

  
nav {
  margin:3rem 2rem 3rem 2rem;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  
}
nav a {
  padding: 1rem;
  color:#FF0000;
  text-decoration:none;
  font-weight: 800;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.menuitem a:hover, .dropdown:hover .dropbtn {
  color: rgb(163, 179, 179);
}
.menuitem {
  position: absolute;
  left: 6rem;
  top:  3rem;
}
.menuitem_login {
  position: absolute;
  right: 6rem;
  top:  3rem;
}
.menuitem_login a:hover, .dropdown:hover .dropbtn {
  color: rgb(163, 179, 179);
}

.home {
  margin: 2rem;
  padding: 2rem;
  background-image: url(./dog-and-cat-cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  
  margin-top: 0px;
  
}
.home-img {
  width: 100%;
  margin: 0 auto;
}

.home h1 {
  text-align: center;
  margin: 3rem;
}

.Iwantaligncenter{
  text-align:center;
}

